<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">upload proof</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
                    SELECT PROOF TO ATTACH TO ORDER ( #101 )
                </div>
                <div class="card-body">
                    <p>The proof file must be an Adobe PDF file (*.pdf).  To upload a proof file, click the BROWSE button, locate the file on your local computer, then click the UPLOAD NEW FILE button. Any proof you upload will supersede any proofs previously uploaded for this order.</p>
                    <div class="form-group">
                        <label for="uploadNewFile"><strong>Upload New File</strong></label><br>
                        <input class="mt-2" type="file" name="uploadNewFile" id="uploadNewFile">
                    </div>
                    <button type="button" class="btn btn-primary mt-4">Upload New File</button>
                </div>
            </div>
        </div>
    </div>
</div>           