<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">Profile</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">profile</h3>
    </div>
    <div class="card mt-4">
    <div class="card-header p-3" style="text-transform: uppercase;background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">User Account Information</div>
    <div class="card-body">
    <div class="row mb-3">
        <div class="col">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">  
        </div>
        <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp">  
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp">  
        </div>
        <div class="col">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">  
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="organization" class="form-label">Organization</label>
            <input type="text" class="form-control" id="organization" aria-describedby="organizationHelp">  
        </div>
        <div class="col">
            <label for="contactno" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="contactno" aria-describedby="contactnoHelp">  
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="securityLevel" class="form-label">Security Level</label>
            <input type="text" class="form-control" id="securityLevel" aria-describedby="securityLevelHelp">  
        </div>
        <div class="col">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" aria-describedby="countryHelp">  
        </div>
    </div>
    <button type="submit" class="btn-submit">Save Changes</button>
    </div>
    </div>
</div>
