.container {
    margin-top: 2em;
    margin-bottom: 5em;
    padding-left: 0;
    padding-right: 0;
    font-family: 'roboto', sans-serif;
} 

.container h2 {
    margin-bottom: 1em;
}

.btn-submit {
    width: 30%;
    font-weight: 700;
    padding: .3em 2em;
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    /* text-transform: uppercase; */
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-submit:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.pending__requests {
    /* margin-top: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
}