* {
    font-family: 'roboto', sans-serif;
}

main {
    height: 100vh;
    background: url('../../../assets/MicrosoftTeams-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.landing-box {
    width: 500px;
    text-align: center;
    padding: 2rem;
    border-radius: .3em;
    /* background: rgba(255, 255, 255, 0.791); */
    background: rgba(255, 255, 255, 0.88);
    border: 2px solid #fff;
    box-shadow: 0px 17px 24.3px 0px rgba(0, 0, 0, 0.07);
}

.landing-box h1 {
    font-size: 40px;
    font-weight: 600;
}

.landing-box p {
    font-size: 18px;
}

.btns-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    font-weight: 600;
    width: 100%;
    padding: .7em;
    background: #005EB8;
    color: white;
    border: 2px solid #014e96;
    border-radius: .3em;
}

.btn-ct:hover {
    background: #014e96;
}

.btn-sg {
    background: white;
    color: #005EB8;
    transition: all 0.2s ease-in;
}

.btn-sg:hover {
    background: #005EB8;
    color: white;
}

/* .card {
    background: #fcfaf7;
} */
.card-header {
    background: none;
    border-bottom: none;
}

.benefits .card {
    border: none;
}

.benefits .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.benefits .card-body {
    padding-top: 0;
}
